<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!-- Подключение "PT SANS" regular и bold-->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">
    <!-- Подключение "Open Sans" regular-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Подключение "Ubuntu" bold-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap" rel="stylesheet">
    <!-- Подключение "Cabin" regular-->
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/null.css">
    <link rel="stylesheet" href="./css/style.css">
    <script defer src="./js/burger.js"></script> <!-- defer - откладывание до полной загрузки страницы -->
    <title>Elena</title>
</head>
<body>
    <header class="header">
        <div class="content">
            <div class="header__head">
                <p class="header__logo text-logo">Elena</p>
                <div class="header__burger">
                    <span></span>
                </div>
            </div>
            <nav class="header__menu">
                <ul class="header__nav-list">
                    <li class="header__menu-item"><a href="#" class="header__link">Home</a></li>
                    <li class="header__menu-item"><a href="#" class="header__link">Services</a></li>
                    <li class="header__menu-item"><a href="#" class="header__link">Features</a></li>
                    <li class="header__menu-item"><a href="#" class="header__link">Contact</a></li>
                </ul>
            </nav>
            <h1 class="header__title">Have a good day</h1>
            <h3 class="header__slogan">Just for you on themeforest</h3>
            <a href="#" class="header__button button">Get your copy now</a>
        </div>
    </header>
    <section class="features">
        <div class="content">
            <div class="features__container">
                <div class="features__item">
                    <img class="features__img" src="./img/features/user-group.png" alt="">
                    <h3 class="features__title title title_other-size">Professionals</h3>
                    <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="features__item">
                    <img class="features__img" src="./img/features/heart.png" alt="">
                    <h3 class="features__title title title_other-size">Amateurs</h3>
                    <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus vehicula ante.</p>
                </div>
                <div class="features__item">
                    <img class="features__img" src="./img/features/headset.png" alt="">
                    <h3 class="features__title title title_other-size">For Everyone</h3>
                    <p class="features__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec scelerisque nisl. Aliquam erat volutpat.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="responsive">
        <div class="content">
            <div class="responsive__container">
                <div class="responsive__item">
                    <img class="responsive__img" src="./img/responsive/car.jpg" alt="">
                    <h3 class="responsive__title title title_other-color bottom-line">Responsive email template</h3>
                    <p class="responsive__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin rhoncus tincidunt risus, in placerat purus eleifend eget. Aenean.</p>
                    <a href="#" class="responsive__button button">Read more</a>
                </div>
                <div class="responsive__item">
                    <img class="responsive__img" src="./img/responsive/island.jpg" alt="">
                    <h3 class="responsive__title title title_other-color bottom-line">Fully compatible template</h3>
                    <p class="responsive__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in sollicitudin mi, ac varius arcu. Ut venenatis.</p>
                    <a href="#" class="responsive__button button">Read more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="supported">
        <div class="content">
            <h3 class="supported__title title bottom-line">Fully supported template</h3>
            <p class="supported__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam volutpat sapien magna, ut ornare risus pellentesque vel. Aenean consequat magna eget lectus finibus, id malesuada tortor placerat. Suspendisse congue ex orci, quis pharetra nibh semper et. Proin commodo nibh in finibus sagittis. Nam aliquet ante.</p>
            <a href="#" class="supported__button button">Read more</a>
        </div>
    </section>
    <section class="layered">
        <div class="content">
            <div class="layered__container">
                <div class="layered__item">
                    <img class="layered__img" src="./img/layered/light.jpg" alt="">
                    <h3 class="layered__title title title_other-size bottom-line">Fully layered psd</h3>
                    <p class="layered__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget commodo purus. Morbi rhoncus.</p>
                    <a href="#" class="layered__link">Check this out ></a>
                </div>
                <div class="layered__item">
                    <img class="layered__img" src="./img/layered/girl.jpg" alt="">
                    <h3 class="layered__title title title_other-size bottom-line">Full compatibility</h3>
                    <p class="layered__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis iaculis porta aliquet. Etiam sit amet efficitur augue. Aliquam.</p>
                    <a href="#" class="layered__link">Check this out ></a>
                </div>
                <div class="layered__item">
                    <img class="layered__img" src="./img/layered/foot.jpg" alt="">
                    <h3 class="layered__title title title_other-size bottom-line">Very great modules</h3>
                    <p class="layered__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie auctor lorem, quis venenatis ipsum auctor vel.</p>
                    <a href="#" class="layered__link">Check this out ></a>
                </div>
            </div>
        </div>
    </section>
    <section class="send">
        <div class="content">
            <div class="send__container">
                <div class="send__item">
                    <h3 class="send__title title bottom-line">Send it now</h3>
                    <p class="send__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel tincidunt ante, at ornare quam. Nunc sagittis posuere magna, eu sagittis ligula consequat a. Nunc.</p>
                    <a href="#" class="send__button button">Read more</a>
                </div>
                <div class="send__item">
                    <h3 class="send__title title bottom-line">Very nice to see</h3>
                    <p class="send__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et erat augue. Curabitur a commodo nibh, non fringilla est. Suspendisse consequat euismod nunc, et molestie erat auctor non. Proin aliquet.</p>
                    <a href="#" class="send__button button">Read more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="just">
        <div class="content">
            <div class="just__container">
                <div class="just__item">
                    <img class="just__img" src="./img/just/street.jpg" alt="">
                </div>
                <div class="just__item">
                    <h3 class="just__title title title_other-color bottom-line">Just for you on themeforest</h3>
                    <p class="just__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis mauris elementum, placerat urna ut, interdum sem. Curabitur vulputate, turpis quis accumsan egestas, magna felis porttitor tortor, fringilla tincidunt tortor libero quis massa. Proin dapibus, mi.</p>
                    <a href="#" class="just__button button">Read more</a>
                </div>
            </div>
        </div>
    </section>
    <section class="template">
        <div class="content">
            <h3 class="template__title title bottom-line">This template was featured on</h3>
            <nav class="template__links">
                <ul class="template__list">
                    <li class="template__item"><a href="#" class="template__partner-link">TechCrunch</a></li>
                    <li class="template__item"><a href="#" class="template__partner-link">Promail</a></li>
                    <li class="template__item"><a href="#" class="template__partner-link">Mashable</a></li>
                    <li class="template__item"><a href="#" class="template__partner-link">atlaspix</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <footer class="footer">
        <div class="content">
            <div class="footer__container">
                <p class="footer__info">Elena © copyright 2013 - Unsubscribe here</p>
                <div class="footer__icons">
                    <a href="https://google.com"><img class="footer__icon" src="./img/footer/google.png" alt=""></a>
                    <a href="https://facebook.com"><img class="footer__icon" src="./img/footer/facebook.png" alt=""></a>
                    <a href="https://twitter.com"><img class="footer__icon" src="./img/footer/twitter.png" alt=""></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
